<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/43a45d11-7853-4e55-ac7e-9c95e2a5a622/resourcegroups/apim-demo-rg/providers/Microsoft.ContainerRegistry/registries/AmgContainerRegistry</ResourceId>
    <ResourceName>AmgContainerRegistry</ResourceName>
    <ResourceGroup>apim-demo-rg</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://amgcontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>af598b73-8d9a-461e-8aad-3a38b4ddb42b</ProjectGuid>
  </PropertyGroup>
</Project>